@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(51, 65, 85);
}

.single-centered-container {
    @apply flex flex-col items-center mt-10 h-[calc(100vh-120px)] justify-center;
}
